* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(36, 34, 34);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 3rem;
  font-size: 5rem;
  animation: blink 3s infinite;
  color: white;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr repeat(5, 80px);
  grid-gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.display {
  grid-column: 1 / -1;
  background-color: #f2f2f2;
  font-size: 30px;
  padding: 10px;
  text-align: right;
  border-radius: 5px;
}

.button {
  background-color: #eee;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.igual {
  background-color: #dc3545;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  grid-column: 1 / -1;
}

.igual:hover {
  background-color: #c82333;
}

.button:hover,
.button1:hover {
  background-color: #d4d4d4;
}
